:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { box-sizing: border-box;}

body {
  margin: 0; 
  color: rgba(255, 255, 255, 0.87);
  background: rgb(40,40,40);
  background: radial-gradient(circle, rgba(40,40,40,1) 0%, rgba(6,6,6,1) 100%);  
}

#root {
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  position: relative;
}